.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
.container{
    background-color: red;   
}
.myBtn {
    background-color: #bbb;
    display: block;
    margin: 1px 0;
    padding: 30px;
    width: 100%;
}